# WEB SCRAPING – ASSIGNMENT 4

 Question-1 Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
#Importing required libraries
import selenium
import requests
import regex as re
import warnings
import pandas as pd
import time
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException 
from  selenium.common.exceptions import WebDriverException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support import expected_conditions as EC

In [2]:
#Connecting to webdriver
driver= webdriver.Chrome()

#Maximing the opened webdriver
driver.maximize_window()

In [3]:
#Opening wikipedia website using the driver
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [4]:
#scroll down the page
driver.execute_script("window.scrollTo(0, 500)")

In [5]:
#Creating empty lists and then finding details of most viewed youtube vidoes
rows = driver.find_elements(By.XPATH, '/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr')
details = []
ranks=[]
name=[]
artist=[]
views=[]
upload=[]
date=[]
rank = 1  
for row in rows:
    cells = row.find_elements(By.XPATH, 'td')
    ranks.append(rank)
    name.append(cells[0].text)
    artist.append(cells[1].text)
    views.append(cells[2].text)
    date.append(cells[3].text)
    rank += 1

In [6]:
# Checking length of lists to make dataframe
print(len(ranks),len(name),len(artist),len(views))

30 30 30 30

In [7]:
#creating dataframe
df=pd.DataFrame({})
df["Rank"]=ranks
df["Name"]=name
df["Artist"]=artist
df['Upload date']=date
df['Views']=views
df

,Rank,Name,Artist,Upload date,Views
0,1,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",15.09
1,2,"""Despacito""[10]",Luis Fonsi,"January 12, 2017",8.54
2,3,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.95
3,4,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.85
4,5,"""Wheels on the Bus""[20]",Cocomelon - Nursery Rhymes,"May 24, 2018",6.56
5,6,"""See You Again""[21]",Wiz Khalifa,"April 6, 2015",6.40
6,7,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",6.33
7,8,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",6.00
8,9,"""Uptown Funk""[30]",Mark Ronson,"November 19, 2014",5.33
9,10,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.29
10,11,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,"February 27, 2018",5.15
11,12,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.74
12,13,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.69
13,14,"""Masha and the Bear – Recipe for Disaster""[39]",Get Movies,"January 31, 2012",4.60
14,15,"""Baa Baa Black Sheep""[40]",Cocomelon - Nursery Rhymes,"June 25, 2018",4.17
15,16,"""Lakdi Ki Kathi""[41]",Jingle Toons,"June 14, 2018",4.13
16,17,"""Sugar""[42]",Maroon 5,"January 14, 2015",4.09
17,18,"""Counting Stars""[43]",OneRepublic,"May 31, 2013",4.05
18,19,"""Roar""[44]",Katy Perry,"September 5, 2013",4.03
19,20,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",4.01
20,21,"""Shree Hanuman Chalisa""[46]",T-Series Bhakti Sagar,"May 10, 2011",3.97
21,22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.89
22,23,"""Sorry""[48]",Justin Bieber,"October 22, 2015",3.84
23,24,"""Thinking Out Loud""[49]",Ed Sheeran,"October 7, 2014",3.79
24,25,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.78
25,26,"""Dark Horse""[51]",Katy Perry,"February 20, 2014",3.77
26,27,"""Let Her Go""[52]",Passenger,"July 25, 2012",3.70
27,28,"""Faded""[53]",Alan Walker,"December 3, 2015",3.67
28,29,"""Girls Like You""[54]",Maroon 5,"May 31, 2018",3.65
29,30,"""Lean On""[55]",Major Lazer Official,"March 22, 2015",3.65

In [8]:
#Closing driver
driver.close()

Question-2 Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [2]:
#Connecting to webdriver
driver= webdriver.Chrome()

#Maximing the opened webdriver
driver.maximize_window()

In [3]:
#Opening wikipedia website using the driver
driver.get("https://www.bcci.tv/")

In [4]:
#clicking on international fixture for getting details
international_fixtures=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
international_fixtures.click()

In [5]:
#from fixture  opening result page
result=driver.find_element(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[2]/div[1]/div[3]')
result.click()

In [6]:
#creating empty list for storing data
Series=[]
place=[]
Date =[]
Time=[]

In [7]:
#Fetching series
series=driver.find_elements(By.XPATH, '//h5[@class="match-tournament-name ng-binding"]')
for i in series:
    if i.text is None :
        Series.append("--") 
    else:
        Series.append(i.text)

In [8]:
#printing series
Series

['ICC Womens T20 World Cup Warm Up Matches 2024',
 'Australia U19 Tour of India Oneday Series',
 'Australia U19 Tour of India Oneday Series',
 'Australia U19 Tour of India Oneday Series',
 'Bangladesh Tour of India Test Series 2024']

In [10]:
# Fetching place
place = driver.find_elements(By.XPATH, '//div[@class="match-venue ng-scope"]')
Place = []  #empty list for storing data

for i in place:
    place_text = i.text.strip()  # Strip leading or trailing spaces
    if place_text and "Overs" not in place_text:  
        Place.append(place_text)

In [11]:
#printing places
Place

['ICC Academy Ground No 2, Dubai',
 'Siechem Stadium, Puducherry',
 'Siechem Stadium, Puducherry',
 'Siechem Stadium, Puducherry',
 'MA Chidambaram Stadium, Chennai']

In [12]:
#Fetching date
date=driver.find_elements(By.XPATH, '//div[@class="match-dates ng-binding"]')
for i in date:
    if i.text is None :
        Date.append("--") 
    else:
        Date.append(i.text)

In [13]:
#printing date
Date

['29 Sep', '26 Sep', '23 Sep', '21 Sep', '19 Sep']

In [14]:
#Fetching time
time=driver.find_elements(By.XPATH, '//div[@class="match-time no-margin ng-binding"]')
for i in time:
    if i.text is None :
        Time.append("--") 
    else:
        Time.append(i.text)

In [15]:
#printing time
Time

['19:30 IST', '9:00 IST', '9:00 IST', '9:00 IST', '9:30 IST']

In [16]:
#creating dataframe
df=pd.DataFrame({"Series Title":Series,"Place":Place,"Date":Date,"Time":Time})
df

,Series Title,Place,Date,Time
0,ICC Womens T20 World Cup Warm Up Matches 2024,"ICC Academy Ground No 2, Dubai",29 Sep,19:30 IST
1,Australia U19 Tour of India Oneday Series,"Siechem Stadium, Puducherry",26 Sep,9:00 IST
2,Australia U19 Tour of India Oneday Series,"Siechem Stadium, Puducherry",23 Sep,9:00 IST
3,Australia U19 Tour of India Oneday Series,"Siechem Stadium, Puducherry",21 Sep,9:00 IST
4,Bangladesh Tour of India Test Series 2024,"MA Chidambaram Stadium, Chennai",19 Sep,9:30 IST

In [17]:
#closing the driver
driver.close()

Question-3 Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [2]:
#Connecting to webdriver
driver= webdriver.Chrome()

#Maximing the opened webdriver
driver.maximize_window()

In [3]:
#opening required website
driver.get("http://statisticstimes.com/")

In [4]:
#clicking on econmy button
economy = driver.find_element(By.XPATH, '/html/body/div[2]/div[1]/div[2]/div[2]/button')     
economy.click()

In [5]:
#clicking on india button in economy section
india = driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
india.click()

In [8]:
#clicking on gdp of indian states
gdp = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
gdp.click()

On the website on statisticstime data for 18-19 and 19-20 is not given so i am scraping the data available on the website.

In [9]:
#Creating empty lists
Rank=[]
State=[]
GSDP23_24=[]
GSDP22_23=[]
GSDP21_22=[]
Share21_22=[]
GDP= []

In [10]:
#Fetching ranks
try:
    for i in driver.find_elements(By.XPATH,'//div[5]//div//table[1][@class="display dataTable"]/tbody[1]/tr/td[1]'):
        Rank.append(i.text)
except NoSuchElementException as e:
        Rank.append("-")

In [11]:
#peinting rank
Rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [12]:
#fetching state names
try:
    for i in driver.find_elements(By.XPATH,'//div[5]//div//table[1][@class="display dataTable"]/tbody[1]/tr/td[2]'):
        State.append(i.text)
except NoSuchElementException as e:
        State.append("-")

In [13]:
#pritning state names
State

['Maharashtra',
 'Tamil Nadu',
 'Karnataka',
 'Uttar Pradesh',
 'Gujarat',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Odisha',
 'Bihar',
 'Punjab',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Arunachal Pradesh',
 'Nagaland',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [15]:
#fetching GSDP23-24
try:
    for i in driver.find_elements(By.XPATH,'//div[5]//div//table[1][@class="display dataTable"]/tbody[1]/tr/td[3]'):
        GSDP23_24.append(i.text)
except NoSuchElementException as e:
        GSDP23_24.append("-")

In [17]:
#printing GSDP23-24
GSDP23_24

['-',
 '2,700,109',
 '2,500,733',
 '2,547,861',
 '-',
 '1,700,939',
 '1,524,030',
 '1,439,674',
 '1,463,960',
 '1,363,327',
 '-',
 '1,107,746',
 '1,095,535',
 '832,790',
 '-',
 '736,423',
 '565,401',
 '505,887',
 '-',
 '346,206',
 '246,465',
 '207,430',
 '-',
 '-',
 '-',
 '-',
 '47,381',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-']

In [18]:
#fetching GSDP22-23
try:
    for i in driver.find_elements(By.XPATH,'//div[5]//div//table[1][@class="display dataTable"]/tbody[1]/tr/td[4]'):
        GSDP22_23.append(i.text)
except NoSuchElementException as e:
        GSDP22_23.append("-")

In [19]:
#printing GSDP22-23
GSDP22_23

['-',
 '2,364,514',
 '2,269,995',
 '2,258,040',
 '2,230,609',
 '1,531,758',
 '1,365,849',
 '1,303,524',
 '1,308,034',
 '1,246,471',
 '1,046,188',
 '1,014,688',
 '984,055',
 '753,177',
 '751,396',
 '676,164',
 '493,167',
 '464,399',
 '393,722',
 '303,781',
 '224,226',
 '191,728',
 '93,672',
 '72,636',
 '54,285',
 '49,643',
 '42,697',
 '42,756',
 '-',
 '39,630',
 '35,643',
 '-',
 '-']

In [20]:
#fetching GSDP21-22
try:
    for i in driver.find_elements(By.XPATH,'//div[5]//div//table[1][@class="display dataTable"]/tbody[1]/tr/td[5]'):
        GSDP21_22.append(i.text)
except NoSuchElementException as e:
        GSDP21_22.append("-")

In [21]:
#printing GSDP21-22
GSDP21_22

['3,108,022',
 '2,071,286',
 '1,978,094',
 '1,975,595',
 '1,928,683',
 '1,329,238',
 '1,193,489',
 '1,148,471',
 '1,124,204',
 '1,092,964',
 '934,542',
 '881,336',
 '868,905',
 '662,886',
 '650,302',
 '617,192',
 '411,454',
 '410,525',
 '358,863',
 '267,143',
 '193,352',
 '172,162',
 '84,266',
 '62,550',
 '46,096',
 '43,810',
 '38,785',
 '37,557',
 '36,594',
 '34,775',
 '31,038',
 '27,824',
 '10,371']

In [23]:
#Fetching share21-22
try:
    for i in driver.find_elements(By.XPATH,'//div[5]//div//table[1][@class="display dataTable"]/tbody[1]/tr/td[6]'):
        Share21_22.append(i.text)
except NoSuchElementException as e:
        Share21_22.append("-")

In [24]:
#printing share21-22
Share21_22

['13.17%',
 '8.78%',
 '8.38%',
 '8.37%',
 '8.17%',
 '5.63%',
 '5.06%',
 '4.87%',
 '4.76%',
 '4.63%',
 '3.96%',
 '3.73%',
 '3.68%',
 '2.81%',
 '2.76%',
 '2.62%',
 '1.74%',
 '1.74%',
 '1.52%',
 '1.13%',
 '0.82%',
 '0.73%',
 '0.36%',
 '0.27%',
 '0.20%',
 '0.19%',
 '0.16%',
 '0.16%',
 '0.16%',
 '0.15%',
 '0.13%',
 '0.12%',
 '0.04%']

In [25]:
#Fetching GDP
try:
    for i in driver.find_elements(By.XPATH,'//div[5]//div//table[1][@class="display dataTable"]/tbody[1]/tr/td[7]'):
        GDP.append(i.text)
except NoSuchElementException as e:
        GDP.append("-")

In [26]:
#printing gdp
GDP

['414.928',
 '276.522',
 '264.080',
 '263.747',
 '257.484',
 '177.456',
 '159.334',
 '153.324',
 '150.084',
 '145.913',
 '124.764',
 '117.660',
 '116.001',
 '88.497',
 '86.817',
 '82.397',
 '54.930',
 '54.806',
 '47.909',
 '35.664',
 '25.813',
 '22.984',
 '11.250',
 '8.351',
 '6.154',
 '5.849',
 '5.178',
 '5.014',
 '4.885',
 '4.643',
 '4.144',
 '3.715',
 '1.385']

In [27]:
#making dataframe
df = pd.DataFrame({"State Rank":Rank,"State":State,"GSDP(23-24)":GSDP23_24,"GSDP(23-22)":GSDP22_23,"GSDP(21-22)":GSDP21_22,"Share(21-22)":Share21_22,"GDP(billion)":GDP})

In [28]:
#printing dataframe
df

,State Rank,State,GSDP(23-24),GSDP(23-22),GSDP(21-22),Share(21-22),GDP(billion)
0,1,Maharashtra,-,-,"3,108,022",13.17%,414.928
1,2,Tamil Nadu,"2,700,109","2,364,514","2,071,286",8.78%,276.522
2,3,Karnataka,"2,500,733","2,269,995","1,978,094",8.38%,264.080
3,4,Uttar Pradesh,"2,547,861","2,258,040","1,975,595",8.37%,263.747
4,5,Gujarat,-,"2,230,609","1,928,683",8.17%,257.484
5,6,West Bengal,"1,700,939","1,531,758","1,329,238",5.63%,177.456
6,7,Rajasthan,"1,524,030","1,365,849","1,193,489",5.06%,159.334
7,8,Andhra Pradesh,"1,439,674","1,303,524","1,148,471",4.87%,153.324
8,9,Telangana,"1,463,960","1,308,034","1,124,204",4.76%,150.084
9,10,Madhya Pradesh,"1,363,327","1,246,471","1,092,964",4.63%,145.913
10,11,Kerala,-,"1,046,188","934,542",3.96%,124.764
11,12,Delhi,"1,107,746","1,014,688","881,336",3.73%,117.660
12,13,Haryana,"1,095,535","984,055","868,905",3.68%,116.001
13,14,Odisha,"832,790","753,177","662,886",2.81%,88.497
14,15,Bihar,-,"751,396","650,302",2.76%,86.817
15,16,Punjab,"736,423","676,164","617,192",2.62%,82.397
16,17,Assam,"565,401","493,167","411,454",1.74%,54.930
17,18,Chhattisgarh,"505,887","464,399","410,525",1.74%,54.806
18,19,Jharkhand,-,"393,722","358,863",1.52%,47.909
19,20,Uttarakhand,"346,206","303,781","267,143",1.13%,35.664
20,21,Jammu & Kashmir,"246,465","224,226","193,352",0.82%,25.813
21,22,Himachal Pradesh,"207,430","191,728","172,162",0.73%,22.984
22,23,Goa,-,"93,672","84,266",0.36%,11.250
23,24,Tripura,-,"72,636","62,550",0.27%,8.351
24,25,Chandigarh,-,"54,285","46,096",0.20%,6.154
25,26,Puducherry,-,"49,643","43,810",0.19%,5.849
26,27,Meghalaya,"47,381","42,697","38,785",0.16%,5.178
27,28,Sikkim,-,"42,756","37,557",0.16%,5.014
28,29,Manipur,-,-,"36,594",0.16%,4.885
29,30,Arunachal Pradesh,-,"39,630","34,775",0.15%,4.643
30,31,Nagaland,-,"35,643","31,038",0.13%,4.144
31,32,Mizoram,-,-,"27,824",0.12%,3.715
32,33,Andaman & Nicobar Islands,-,-,"10,371",0.04%,1.385

In [29]:
#closing the driver
driver.close()

Question-4 Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [37]:
#opening driver
driver = webdriver.Chrome()

In [38]:
#opening github through driver
driver.get("https://github.com/trending")

In [39]:
#making repository url and saving link in that url
repository_url =[]
for i in driver.find_elements(By.XPATH,'//a[@ class="Link"]'):
    repository_url.append(i.get_attribute("href"))

In [40]:
#printing repository links
repository_url

['https://github.com/XengShi/materialYouNewTab',
 'https://github.com/Pythagora-io/gpt-pilot',
 'https://github.com/mediar-ai/screenpipe',
 'https://github.com/simplex-chat/simplex-chat',
 'https://github.com/mandiant/capa',
 'https://github.com/freeCodeCamp/freeCodeCamp',
 'https://github.com/shardeum/shardeum',
 'https://github.com/dolphin-emu/dolphin',
 'https://github.com/EbookFoundation/free-programming-books',
 'https://github.com/xenova/whisper-web',
 'https://github.com/OpenBB-finance/OpenBB',
 'https://github.com/Avaiga/taipy',
 'https://github.com/grafana/k6',
 'https://github.com/pytorch/ao',
 'https://github.com/LadybirdBrowser/ladybird',
 'https://github.com/Asabeneh/30-Days-Of-Python',
 'https://github.com/armbian/build',
 'https://github.com/dair-ai/Prompt-Engineering-Guide']

In [41]:
#Creating empty lists to store data
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

In [42]:
#Fetching repository titles
for a in repository_url:
    driver.get(a)
    try:
        title_tag=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/main/div/div[1]/div[1]/div/strong/a")
        Repository_title.append(title_tag.text)
    except NoSuchElementException as e:
        Repository_title.append("-")

In [43]:
#printing titles
Repository_title

['materialYouNewTab',
 'gpt-pilot',
 'screenpipe',
 'simplex-chat',
 'capa',
 'freeCodeCamp',
 'shardeum',
 'dolphin',
 'free-programming-books',
 'whisper-web',
 'OpenBB',
 'taipy',
 'k6',
 'ao',
 'ladybird',
 '30-Days-Of-Python',
 'build',
 'Prompt-Engineering-Guide']

In [45]:
#Fetching repository description
for a in repository_url:
    driver.get(a)
    try:
        description_tag=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[1]/div/div/p")
        Repository_description.append(description_tag.text)
    except NoSuchElementException as e:
        Repository_description.append("-")

In [46]:
#printing repository_description
Repository_description

["A Simple New Tab ( browsers's home page ) inspired with Google's 'Material You' design",
 'The first real AI developer',
 '24/7 local AI screen & mic recording. Build AI apps that have the full context. Works with Ollama. Alternative to Rewind.ai. Open. Secure. You own your data. Rust.',
 'SimpleX - the first messaging network operating without user identifiers of any kind - 100% private by design! iOS, Android and desktop apps 📱!',
 "The FLARE team's open-source tool to identify capabilities in executable files.",
 "freeCodeCamp.org's open-source codebase and curriculum. Learn to code for free.",
 'Shardeum is an EVM based autoscaling blockchain',
 'Dolphin is a GameCube / Wii emulator, allowing you to play games for these two platforms on PC with improvements.',
 '📚 Freely available programming books',
 'ML-powered speech recognition directly in your browser',
 'Investment Research for Everyone, Everywhere.',
 'Turns Data and AI algorithms into production-ready web applications in no time.',
 'A modern load testing tool, using Go and JavaScript - https://k6.io',
 'PyTorch native quantization and sparsity for training and inference',
 'Truly independent web browser',
 '30 days of Python programming challenge is a step-by-step guide to learn the Python programming language in 30 days. This challenge may take more than100 days, follow your own pace. These videos may help too: https://www.youtube.com/channel/UC7PNRuno1rzYPb1xLa4yktw',
 'Armbian Linux build framework generates custom Debian or Ubuntu image for x86, aarch64, riscv64 & armhf',
 '🐙 Guides, papers, lecture, notebooks and resources for prompt engineering']

In [52]:
#Fetching languarge used in repository
counter = 0
for a in repository_url:
    driver.get(a)
    try:
        language_tag=driver.find_elements(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]')
        Language_used.append([i.text for i in language_tag])
    except NoSuchElementException as e:
        Language_used.append("-")

In [53]:
#printing language
Language_used

[['HTML', 'CSS', 'JavaScript'],
 ['Python', 'JavaScript', 'EJS', 'Smarty', 'CSS', 'Mako', 'HTML'],
 ['Rust', 'TypeScript', 'MDX', 'JavaScript', 'Swift', 'CSS', 'Ruby'],
 ['Haskell', 'Kotlin', 'Swift', 'HTML', 'TypeScript', 'JavaScript', 'Other'],
 ['Python', 'Vue', 'JavaScript', 'HTML', 'CSS', 'Dockerfile'],
 ['TypeScript', 'JavaScript', 'CSS', 'Dockerfile', 'EJS', 'HTML'],
 ['TypeScript', 'Other'],
 ['C++', 'Kotlin', 'C', 'CMake', 'Objective-C++', 'Java', 'Other'],
 [],
 ['TypeScript', 'JavaScript', 'Other'],
 ['Python'],
 ['Python', 'TypeScript', 'CSS', 'JavaScript', 'Jupyter Notebook', 'HTML'],
 ['Go', 'Other'],
 ['Python', 'C++', 'Cuda', 'Shell', 'CMake', 'Objective-C++'],
 ['C++', 'JavaScript', 'HTML', 'CMake', 'Objective-C++', 'Swift', 'Other'],
 ['Python', 'CSS', 'HTML'],
 ['Shell', 'Python', 'GSC', 'JavaScript', 'Batchfile', 'QML', 'Other'],
 ['MDX', 'Jupyter Notebook', 'Other']]

In [57]:
#making dataframe
df = pd.DataFrame({"Repository title":Repository_title,"Repository description":Repository_description,"Language used":Language_used})

In [58]:
#printing dataframe
df

,Repository title,Repository description,Language used
0,materialYouNewTab,A Simple New Tab ( browsers's home page ) insp...,"[HTML, CSS, JavaScript]"
1,gpt-pilot,The first real AI developer,"[Python, JavaScript, EJS, Smarty, CSS, Mako, H..."
2,screenpipe,24/7 local AI screen & mic recording. Build AI...,"[Rust, TypeScript, MDX, JavaScript, Swift, CSS..."
3,simplex-chat,SimpleX - the first messaging network operatin...,"[Haskell, Kotlin, Swift, HTML, TypeScript, Jav..."
4,capa,The FLARE team's open-source tool to identify ...,"[Python, Vue, JavaScript, HTML, CSS, Dockerfile]"
5,freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,"[TypeScript, JavaScript, CSS, Dockerfile, EJS,..."
6,shardeum,Shardeum is an EVM based autoscaling blockchain,"[TypeScript, Other]"
7,dolphin,"Dolphin is a GameCube / Wii emulator, allowing...","[C++, Kotlin, C, CMake, Objective-C++, Java, O..."
8,free-programming-books,📚 Freely available programming books,[]
9,whisper-web,ML-powered speech recognition directly in your...,"[TypeScript, JavaScript, Other]"
10,OpenBB,"Investment Research for Everyone, Everywhere.",[Python]
11,taipy,Turns Data and AI algorithms into production-r...,"[Python, TypeScript, CSS, JavaScript, Jupyter ..."
12,k6,"A modern load testing tool, using Go and JavaS...","[Go, Other]"
13,ao,PyTorch native quantization and sparsity for t...,"[Python, C++, Cuda, Shell, CMake, Objective-C++]"
14,ladybird,Truly independent web browser,"[C++, JavaScript, HTML, CMake, Objective-C++, ..."
15,30-Days-Of-Python,30 days of Python programming challenge is a s...,"[Python, CSS, HTML]"
16,build,Armbian Linux build framework generates custom...,"[Shell, Python, GSC, JavaScript, Batchfile, QM..."
17,Prompt-Engineering-Guide,"🐙 Guides, papers, lecture, notebooks and resou...","[MDX, Jupyter Notebook, Other]"

In [59]:
#closing the driver
driver.close()

Question-5 Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [61]:
# open chrome and load billboard webpage
driver=webdriver.Chrome()
driver.get('http://www.billboard.com/')

In [62]:
#Maximing the opened webdriver
driver.maximize_window()

In [64]:
#clicking on charts
charts = driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a")
charts.click()

In [66]:
#clicking on top 100
hot_100 = driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a")
hot_100.click()

In [69]:
#creating empty list
rank=[]
song_name=[]
artist_name=[]
last_week_rank=[]
peak_rank=[]
weeks_on_board=[]

In [70]:
#scraping ranks
rank_tag=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet"]')
for i in rank_tag:
    rank.append(i.text)

In [71]:
#fetching song name
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/h3'):
        song_name.append(i.text)
except NoSuchElementException as e:
        song_name.append("-")

In [72]:
#fetching artist name
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/span'):
        artist_name.append(i.text)
except NoSuchElementException as e:
        artist_name.append("-")

In [73]:
#fetching last week rank
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]'):
        last_week_rank.append(i.text)
except NoSuchElementException as e:
        last_week_rank.append("-")

In [74]:
#fetching peak_rank
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]'):
        peak_rank.append(i.text)
except NoSuchElementException as e:
        peak_rank.append("-")

In [75]:
#fetching weeks on board
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]'):
        weeks_on_board.append(i.text)
except NoSuchElementException as e:
        weeks_on_board.append("-")

In [76]:
#checking length to make dataframe
print(len(rank),len(song_name),len(artist_name),len(last_week_rank),len(peak_rank),len(weeks_on_board))

100 100 100 100 100 100

In [79]:
#making dataframe
df = pd.DataFrame({"Rank":rank,"Song name":song_name,"Artist name":artist_name,"Last week rank":last_week_rank,"Peak rank":peak_rank,"Weeks on board":weeks_on_board})

In [80]:
#printing dataframe
df

,Rank,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,1,A Bar Song (Tipsy),Shaboozey,1,1,24
1,2,I Had Some Help,Post Malone Featuring Morgan Wallen,2,1,20
2,3,Espresso,Sabrina Carpenter,3,3,24
3,4,"Good Luck, Babe!",Chappell Roan,4,4,25
4,5,Die With A Smile,Lady Gaga & Bruno Mars,5,3,6
...,...,...,...,...,...,...
95,96,Diet Pepsi,Addison Rae,81,81,3
96,97,Coincidence,Sabrina Carpenter,73,26,5
97,98,Passport Junkie,Rod Wave,61,61,2
98,99,Circadian Rhythm,Drake,66,59,4
99,100,Sharpest Tool,Sabrina Carpenter,76,21,5

In [81]:
#closing the driver
driver.close()

Question-6 Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [28]:
#opening the driver
driver = webdriver.Chrome()

In [29]:
#opening thje website through driver
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [30]:
#Maximing the opened webdriver
driver.maximize_window()

In [32]:
#creating empty list and stroing book name in that list  
Book_name = []
try:
    for i in driver.find_elements(By.XPATH,'//td[2][@class="left"]'):
        Book_name.append(i.text)
except NoSuchElementException as e:
        Book_name.append("-")

In [33]:
#printing book name
Book_name

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [35]:
#fetching author name
Author_name = []
try:
    for i in driver.find_elements(By.XPATH,'//td[3][@class="left"]'):
        Author_name.append(i.text)
except NoSuchElementException as e:
        Author_name.append("-")

In [36]:
#printing author name
Author_name

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Brown, Dan',
 'Rowling, J.K.',
 'James, E. L.',
 'Meyer, Stephenie',
 'Larsson, Stieg',
 'James, E. L.',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Sebold, Alice',
 'Haddon, Mark',
 'Brown, Dan',
 'Bryson, Bill',
 'Larsson, Stieg',
 'Meyer, Stephenie',
 'Carle, Eric',
 'Donaldson, Julia',
 'Oliver, Jamie',
 'Hosseini, Khaled',
 'Nicholls, David',
 'Hosseini, Khaled',
 'Larsson, Stieg',
 'Niffenegger, Audrey',
 'McEwan, Ian',
 'Fielding, Helen',
 'Clarkson, Jeremy',
 'Bernieres, Louis de',
 'Kay, Peter',
 'Martel, Yann',
 'Stephenson, Pamela',
 'Pelzer, Dave',
 'Donaldson, Julia',
 'McCourt, Frank',
 'Faulks, Sebastian',
 'Pullman, Philip',
 'Mosse, Kate',
 'Rowling, J.K.',
 'Stockett, Kathryn',
 'Parsons, Tony',
 'Golden, Arthur',
 'McCall Smith, Alexander',
 'Hislop, Victoria',
 'Ahern, Cecelia',
 'McKeith, Gillian',
 'Zafon, Carlos Ruiz',
 'Rowling, J.K.',
 'Grisham, John',
 'Atkins, Robert C.',
 'Pullman, Philip',
 'Truss, Lynne',
 'Smith, Delia',
 'Harris, Joanne',
 'Boyne, John',
 'Picoult, Jodi',
 'Pullman, Philip',
 'Lee, Harper',
 'Gray, John',
 'French, Dawn',
 'Lewycka, Marina',
 'Harris, Thomas',
 'Tolkien, J. R. R.',
 'Moore, Michael',
 'Rubenfeld, Jed',
 'Osbourne, Sharon',
 'Coelho, Paulo',
 "O'Grady, Paul",
 'Bryson, Bill',
 'Oliver, Jamie',
 'Fielding, Helen',
 'Oliver, Jamie',
 'McKenna, Paul',
 'Bryson, Bill',
 'Grisham, John',
 'Levy, Andrea',
 'Lawson, Nigella',
 'Ali, Monica',
 'Edwards, Kim',
 'Donaldson, Julia',
 'Hornby, Nick',
 'Brand, Russell',
 'Dawkins, Richard',
 '0',
 'Smith, Zadie',
 'Morton, Kate',
 'Zusak, Markus',
 'Binchy, Maeve',
 'Harris, Robert',
 'Oliver, Jamie',
 'Collins, Suzanne',
 'Pelzer, Dave',
 'Oliver, Jamie']

In [37]:
#Fetching volme sold
Volume_sold = []
try:
    for i in driver.find_elements(By.XPATH,'//td[4][@class="left"]'):
        Volume_sold.append(i.text)
except NoSuchElementException as e:
        Volume_sold.append("-")

In [38]:
#printing volume sold
Volume_sold

['5,094,805',
 '4,475,152',
 '4,200,654',
 '4,179,479',
 '3,758,936',
 '3,583,215',
 '3,484,047',
 '3,377,906',
 '3,193,946',
 '2,950,264',
 '2,479,784',
 '2,315,405',
 '2,233,570',
 '2,193,928',
 '2,183,031',
 '2,152,737',
 '2,062,145',
 '2,052,876',
 '2,005,598',
 '1,979,552',
 '1,928,900',
 '1,852,919',
 '1,814,784',
 '1,787,118',
 '1,783,535',
 '1,781,269',
 '1,743,266',
 '1,629,119',
 '1,616,068',
 '1,583,992',
 '1,555,135',
 '1,546,886',
 '1,539,428',
 '1,508,205',
 '1,489,403',
 '1,352,318',
 '1,310,207',
 '1,310,176',
 '1,231,957',
 '1,217,712',
 '1,208,711',
 '1,204,058',
 '1,184,967',
 '1,181,503',
 '1,181,093',
 '1,153,181',
 '1,132,336',
 '1,130,802',
 '1,126,337',
 '1,115,549',
 '1,108,328',
 '1,107,379',
 '1,104,403',
 '1,092,349',
 '1,090,847',
 '1,087,262',
 '1,054,196',
 '1,037,160',
 '1,023,688',
 '1,015,956',
 '1,009,873',
 '1,004,414',
 '1,003,780',
 '1,002,314',
 '998,213',
 '992,846',
 '986,753',
 '986,115',
 '970,509',
 '967,466',
 '963,353',
 '962,515',
 '959,496',
 '956,114',
 '945,640',
 '931,312',
 '925,425',
 '924,695',
 '906,968',
 '905,086',
 '890,847',
 '869,671',
 '869,659',
 '862,602',
 '856,540',
 '845,858',
 '842,535',
 '828,215',
 '820,563',
 '816,907',
 '816,585',
 '815,586',
 '814,370',
 '809,641',
 '808,900',
 '807,311',
 '794,201',
 '792,187',
 '791,507',
 '791,095']

In [40]:
#fetching publisher details
Publisher = []
try:
    for i in driver.find_elements(By.XPATH,'//td[5][@class="left"]'):
        Publisher.append(i.text)
except NoSuchElementException as e:
        Publisher.append("-")

In [41]:
#printing publishher details
Publisher

['Transworld',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Transworld',
 'Bloomsbury',
 'Random House',
 'Little, Brown Book',
 'Quercus',
 'Random House',
 'Transworld',
 'Little, Brown Book',
 'Transworld',
 'Little, Brown Book',
 'Pan Macmillan',
 'Random House',
 'Transworld',
 'Transworld',
 'Quercus',
 'Little, Brown Book',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Bloomsbury',
 'Hodder & Stoughton',
 'Bloomsbury',
 'Quercus',
 'Random House',
 'Random House',
 'Pan Macmillan',
 'Penguin',
 'Random House',
 'Random House',
 'Canongate',
 'HarperCollins',
 'Orion',
 'Pan Macmillan',
 'HarperCollins',
 'Random House',
 'Scholastic Ltd.',
 'Orion',
 'Bloomsbury',
 'Penguin',
 'HarperCollins',
 'Random House',
 'Little, Brown Book',
 'Headline',
 'HarperCollins',
 'Penguin',
 'Orion',
 'Bloomsbury',
 'Random House',
 'Random House',
 'Scholastic Ltd.',
 'Profile Books Group',
 'Random House',
 'Transworld',
 'Random House Childrens Books G',
 'Hodder & Stoughton',
 'Scholastic Ltd.',
 'Random House',
 'HarperCollins',
 'Random House',
 'Penguin',
 'Random House',
 'HarperCollins',
 'Penguin',
 'Headline',
 'Little, Brown Book',
 'HarperCollins',
 'Transworld',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Transworld',
 'Transworld',
 'Random House',
 'Headline',
 'Random House',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Hodder & Stoughton',
 'Transworld',
 'D.C. Thomson',
 'Penguin',
 'Pan Macmillan',
 'Transworld',
 'Orion',
 'Random House',
 'Penguin',
 'Scholastic Ltd.',
 'Orion',
 'Penguin']

In [43]:
#fetching genre
Genre = []
try:
    for i in driver.find_elements(By.XPATH,'//td[@class="last left"]'):
        Genre.append(i.text)
except NoSuchElementException as e:
        Genre.append("-")

In [44]:
#printing genre
Genre

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 "Children's Fiction",
 'Romance & Sagas',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Romance & Sagas',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Popular Science',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Picture Books',
 'Picture Books',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Humour: Collections & General',
 'General & Literary Fiction',
 'Autobiography: General',
 'General & Literary Fiction',
 'Biography: The Arts',
 'Autobiography: General',
 'Picture Books',
 'Autobiography: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Science Fiction & Fantasy',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Fitness & Diet',
 'General & Literary Fiction',
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 'Fitness & Diet',
 'Young Adult Fiction',
 'Usage & Writing Guides',
 'Food & Drink: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Popular Culture & Media: General Interest',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Science Fiction & Fantasy',
 'Current Affairs & Issues',
 'Crime, Thriller & Adventure',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Travel Writing',
 'Food & Drink: General',
 'General & Literary Fiction',
 'National & Regional Cuisine',
 'Fitness & Diet',
 'Travel Writing',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Picture Books',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Popular Science',
 "Children's Annuals",
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Food & Drink: General',
 'Young Adult Fiction',
 'Biography: General',
 'Food & Drink: General']

In [45]:
#making dataframe
df = pd.DataFrame({"Book name":Book_name,"Author name":Author_name,"Volumes sold":Volume_sold,"Publisher":Publisher,"Genre":Genre})

In [46]:
#printing dataframe
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Question-7 Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [82]:
#opening driver
driver=webdriver.Chrome()

In [83]:
#opening imdb page through driver
driver.get('https://www.imdb.com/list/ls095964455/')

# In question 7 the given page in not opening and giving error and in raised ticket it was told to mention this reason here. So i am unable to scrap the data.

Question-8 Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [2]:
#opening webdriver
driver=webdriver.Chrome()

In [3]:
#opening the website through driver
driver.get('https://archive.ics.uci.edu/')
time.sleep(2)

In [4]:
#clicking on dataset
dataset = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/header/nav/ul/li[1]/a')
dataset.click()

In [5]:
#clicking on expand button
expand = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]')
expand.click()

In [6]:
#creating empty lists
Dataset_name= []
Data_type= []
Task = []
Attribute_type= []
No_of_instances= []
No_of_attribute = []
Year= []

In [8]:
#fetching dataset names
dataset_names = driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in dataset_names:
    Dataset_name.append(i.text)

In [9]:
#printing dataset name
Dataset_name

['Iris',
 'Heart Disease',
 'Wine Quality',
 'Adult',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Bank Marketing',
 'Wine',
 'Student Performance',
 'Online Retail',
 'Car Evaluation']

In [10]:
#fetching data type
data_type = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span')
for i in data_type:
    Data_type.append(i.text)

In [11]:
#printing data type
Data_type

['Tabular',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Tabular',
 'Multivariate',
 'Multivariate, Sequential, Time-Series',
 'Multivariate']

In [12]:
#fetching task details 
task= driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span')
for i in task:
    Task.append(i.text)

In [13]:
#printing task
Task

['Classification',
 'Classification',
 'Classification, Regression',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification, Regression',
 'Classification, Clustering',
 'Classification']

In [14]:
#fetching attribute type
attribute_type = driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[2]')
for i in attribute_type:
    Attribute_type.append(i.text)

In [15]:
#printing attribute type
Attribute_type

['Real',
 'Categorical, Integer, Real',
 'Real',
 'Categorical, Integer',
 'Real',
 'Categorical, Integer',
 'Integer, Real',
 'Integer',
 'Integer, Real',
 'Categorical']

In [16]:
#Fetching number of instances
no_of_instances = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span')
for i in no_of_instances:
    No_of_instances.append(i.text)

In [17]:
#printing number of instances
No_of_instances

['150 Instances',
 '303 Instances',
 '4.9K Instances',
 '48.84K Instances',
 '569 Instances',
 '45.21K Instances',
 '178 Instances',
 '649 Instances',
 '541.91K Instances',
 '1.73K Instances']

In [18]:
#fetching number of attributes
no_of_attribute = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span')
for i in no_of_attribute:
    No_of_attribute.append(i.text)

In [19]:
#printing number of attributes
No_of_attribute

['4 Features',
 '13 Features',
 '12 Features',
 '14 Features',
 '30 Features',
 '17 Features',
 '13 Features',
 '33 Features',
 '8 Features',
 '6 Features']

In [25]:
#Fetching year details
elements = driver.find_elements(By.XPATH, '//tbody[@class="border"]/tr/td[3]')
print("Number of elements found:", len(elements))  
for element in elements:
    try:
        year_text = element.text
        Year.append(year_text)
        print("Year text:", year_text)  
    except Exception as e:
        Year.append('-')
        print("Error occurred:", e)

Number of elements found: 10
Year text: 7/1/1988
Year text: 7/1/1988
Year text: 10/7/2009
Year text: 5/1/1996
Year text: 11/1/1995
Year text: 2/14/2012
Year text: 7/1/1991
Year text: 11/27/2014
Year text: 11/6/2015
Year text: 6/1/1997

In [28]:
#checking length of lists to make dataframe
print(len(Dataset_name),len(Data_type),len(Attribute_type),len(No_of_instances),len(No_of_attribute),len(Year))

10 10 10 10 10 11

In [29]:
#making dataframe
df = pd.DataFrame({'Dataset name':Dataset_name,'Data type':Data_type,'Task':Task,'Attribute type':Attribute_type,'No of instances':No_of_instances,'No of attribute':No_of_attribute,'Year':Year[:10]})

In [30]:
#printing dataframe
df

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Iris,Tabular,Classification,Real,150 Instances,4 Features,7/1/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
2,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K Instances,12 Features,7/1/1988
3,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,10/7/2009
4,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features,5/1/1996
5,Bank Marketing,Multivariate,Classification,"Categorical, Integer",45.21K Instances,17 Features,11/1/1995
6,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features,2/14/2012
7,Student Performance,Multivariate,"Classification, Regression",Integer,649 Instances,33 Features,7/1/1991
8,Online Retail,"Multivariate, Sequential, Time-Series","Classification, Clustering","Integer, Real",541.91K Instances,8 Features,11/27/2014
9,Car Evaluation,Multivariate,Classification,Categorical,1.73K Instances,6 Features,11/6/2015

In [31]:
#closing driver
driver.close()